*
  box-sizing: border-box
body
  +reg
  color: $text-color
img
  max-width: 100%
input
  outline: none
a
  text-decoration: none
.container
  width: 1170px
  margin: auto
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  font-size: 16px
  +bold
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
.section
  padding-top: 90px
  padding-bottom: 95px
  &-title
    margin: 0
    +bold
    font-size: 24px
    text-align: center
  &-subtitle
    display: block
    font-size: 16px
.input
  border-radius: 10px
  border: 1px solid $border-input
  padding: 23px 26px
  font-size: 15px
  color: $text-color
  &:focus
    border: 1px solid $main-color
.arrows
  &__left, &__right
    &:hover
      cursor: pointer
.text
	&-strong
  color: $text-color
  +bold
.invalid
	color: $error
	border: 1px solid $error
	&:focus
		border: 1px solid $error
div.invalid
    text-align: center
    +bold
    border: none
    font-size: 13px
.map
  &-hint
    font-size: 15px
    line-height: 50px
    width: 350px
    height: 50px
    border: 2px solid $main-color
    +bold







      


