/** Адаптив блока navbar **/
@media (max-width: 1200px) and (min-width: 992px) 
  .container
    width: 970px
@media (max-width: 992px) and (min-width: 768px) 
  .container
    width: 750px
@media (max-width: 768px)
  .container
      width: 77%
  .navbar
    &__contacts
      display: none
    &__button
      padding: 15px 26px
      font-size: 10px
    &__logo
      width: 91px