.offer
	position: relative
	padding-top: 77px
	padding-bottom: 88px
	background: url('../img/offer/offer-img.png') no-repeat center right
	background-size: contain
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		display: block
		width: 50%
		height: 100%
		background-color: #fff
	&-block
		position: relative
		width: 50%
		padding-right: 90px
	&__title
		margin-bottom: 20px
		max-width: 360px
		line-height: 35px
		text-align: left
	&__subtitle
		margin-bottom: 30px
		max-width: 240px
	&__input
		width: 240px
		&:first-child
			margin-right: 10px
		&:focus
			border: 2px solid $main-color
	&__button
		margin-top: 30px
		margin-bottom: 24px
		width: 100%
		padding: 27px 0
	&-feedback
		display: flex
		justify-content: space-between
		&__text
			margin: 0
			width: 224px
			font-size: 15px
			line-height: 24px
	&__text
		margin: 0
		margin-bottom: 10px
		font-size: 15px
	&__phone
		+bold
		font-size: 15px
		color: $text-color

		
		
