@charset "UTF-8";
/** Подключаем шрифты **/
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/** Стили общего характера **/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: auto;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding-top: 90px;
  padding-bottom: 95px;
}

.section-title {
  margin: 0;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 23px 26px;
  font-size: 15px;
  color: #333333;
}

.input:focus {
  border: 1px solid #ffd200;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.text-strong {
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.invalid {
  color: #FF0000;
  border: 1px solid #FF0000;
}

.invalid:focus {
  border: 1px solid #FF0000;
}

div.invalid {
  text-align: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  border: none;
  font-size: 13px;
}

.map-hint {
  font-size: 15px;
  line-height: 50px;
  width: 350px;
  height: 50px;
  border: 2px solid #ffd200;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

/*Стили навигационной панели navbar*/
.navbar {
  padding: 7px 0 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__phone {
  display: inline-block;
  margin-top: 9px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

.navbar__button {
  padding: 18px 30px;
  margin-left: 30px;
  font-size: 13px;
}

/*Стили главного экрана hero*/
.hero {
  padding: 50px 0 46px;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__title {
  margin-bottom: 37px;
  font-size: 41px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 55px;
}

.hero-text__subtitle {
  margin-bottom: 67px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.hero-list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.hero-list__items:last-child {
  margin-bottom: 0;
}

.hero-list__text {
  display: inline-block;
  max-width: 250px;
  font-size: 14px;
  line-height: 24px;
}

.hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
}

.hero__img {
  margin-left: 15px;
}

.hero-img_shadow {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

/*Стили блока с формой offer*/
.offer {
  position: relative;
  padding-top: 77px;
  padding-bottom: 88px;
  background: url("../img/offer/offer-img.png") no-repeat center right;
  background-size: contain;
}

.offer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.offer-block {
  position: relative;
  width: 50%;
  padding-right: 90px;
}

.offer__title {
  margin-bottom: 20px;
  max-width: 360px;
  line-height: 35px;
  text-align: left;
}

.offer__subtitle {
  margin-bottom: 30px;
  max-width: 240px;
}

.offer__input {
  width: 240px;
}

.offer__button {
  margin-bottom: 24px;
  width: 100%;
  padding: 27px 0;
}

.offer-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-feedback__text {
  margin: 0;
  width: 224px;
  font-size: 15px;
  line-height: 24px;
}

.offer__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.offer__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #333333;
}

.offer-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-form__error {
  min-height: 90px;
}

.invalid-offer {
  color: #FF0000;
  border: 1px solid #FF0000;
}

.invalid-offer:focus {
  border: 1px solid #FF0000;
}

div.invalid-offer {
  text-align: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  border: none;
  font-size: 13px;
}

/*Стили блока с cлайдемом portfolio*/
.portfolio {
  background: #f5f5f5 url("../img/portfolio/bg-portfolio.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 94px;
}

.portfolio__arrows {
  margin: auto;
  margin-top: 68px;
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

/*Стили блока с  ценами price*/
.price__title {
  margin: auto;
  margin-bottom: 50px;
  max-width: 515px;
  font-size: 30px;
  line-height: 45px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
  font-size: 20px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 0.8;
}

.card__text {
  padding: 40px 0;
}

.card__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 18px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.card__image {
  position: relative;
}

.card__image_block {
  display: block;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  position: relative;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}

.card__link:hover::after {
  height: 13px;
}

.card__link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*Стили блока "5 шагов для ремонта" steps*/
.step {
  position: relative;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
}

.step::after {
  content: '';
  position: absolute;
  top: -11px;
  right: -37px;
  width: 72px;
  height: 25px;
  background: url("../img/steps/arrow.png") no-repeat center;
}

.step:last-child::after {
  display: none;
}

.step__image {
  margin: auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 50%;
}

.step__text {
  margin: auto;
  max-width: 151px;
  font-size: 14px;
  line-height: 20px;
}

.steps {
  padding-top: 32px;
}

.steps__title {
  margin: auto;
  margin-bottom: 48px;
  max-width: 670px;
  font-size: 30px;
  line-height: 45px;
}

.steps__subtitle {
  font-size: 20px;
  margin-bottom: 68px;
  text-align: center;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*Стили для блока info*/
.info {
  background-color: #ffd200;
}

.info__title {
  margin: 0;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
}

/*Стили для блока service*/
.service-card {
  width: 370px;
  background-color: #f5f5f5;
}

.service-card__text {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 30px 0 0 26px;
  max-width: 310px;
  font-size: 16px;
  line-height: 23px;
}

.service-card__img {
  display: block;
  height: 270px;
  width: 100%;
}

.service-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*Стили для блока agreement*/
.agreement {
  padding-top: 30px;
  padding-bottom: 100px;
}

.agreement__title {
  max-width: 650px;
  margin: auto;
  margin-bottom: 99px;
}

.agreement-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.agreement-block {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.agreement__image {
  padding: 21px;
  background-color: #f5f5f5;
  max-width: 270px;
  height: 360px;
}

.agreement__text {
  margin: 0;
  margin-top: 41px;
  color: #333333;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .agreement__block {
    margin-bottom: 30px;
  }
  .agreement__block:last-child {
    margin-bottom: 0;
  }
  .agreement__title {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .agreement-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .agreement__title {
    margin-bottom: 49px;
    max-width: 220px;
    font-size: 18px;
    line-height: 1.25;
  }
  .agreement__text {
    max-width: 222px;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 28px;
    line-height: 1.3;
  }
}

/*Стили для блока brif*/
.brif {
  background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
  background-position: left top, right top;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
  padding-top: 100px;
  padding-bottom: 77px;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 213px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
}

.brif__button {
  display: block;
  margin-bottom: 33px;
  width: 100%;
  max-width: 370px;
  height: 70px;
}

.brif-form__input {
  min-height: 80px;
}

.brif-form__input:last-of-type {
  min-height: 95px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin: 0;
  margin-bottom: 43px;
  font-size: 22px;
  line-height: 33px;
}

.interview__subtitle {
  margin-bottom: 94px;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__item:nth-child(3) {
  margin-bottom: 44px;
}

.interview-list__counter {
  margin-right: 32px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 372px;
  font-size: 18px;
}

.form__title {
  margin-bottom: 52px;
  font-size: 22px;
  line-height: 29px;
}

.form__subtitle {
  margin-bottom: 50px;
}

.form__direction {
  display: inline-block;
  font-size: 15px;
}

/*Стили для блока footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map {
  width: 50%;
  height: 650px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 70px;
  padding-left: 210px;
  padding-bottom: 97px;
}

.contacts__title {
  margin-bottom: 87px;
  max-width: 293px;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 31px;
}

.contacts-list__icon {
  margin-right: 23px;
  padding-top: 6px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.contacts-list__text {
  font-size: 16px;
  line-height: 26px;
}

/*Стили для блока bath*/
.bath {
  padding: 80px;
  background-color: #f5f5f5;
}

.bath__repair {
  margin-bottom: 15px;
}

.bath-repair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bath-repair__image {
  margin-right: 29px;
}

.bath-repair__title {
  position: relative;
  margin: 0;
  margin-bottom: 23px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.bath-repair__value {
  display: block;
  font-size: 16px;
}

.bath__service {
  margin-top: 53px;
}

.bath-service__title {
  margin-bottom: 28px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.bath-list {
  max-width: 600px;
  list-style: disk;
  color: #ffd200;
  padding-left: 18px;
}

.bath-list__text {
  color: #333333;
  font-size: 14px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.bath-list__item {
  margin-bottom: 5px;
}

/*Стили для блока living*/
.living {
  padding: 80px;
  padding-bottom: 76px;
  background-color: #f5f5f5;
}

.living__repair {
  margin-bottom: 15px;
}

.living-repair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.living-repair__image {
  margin-right: 29px;
}

.living-repair__title {
  position: relative;
  margin: 0;
  margin-bottom: 23px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.living-repair__value {
  display: block;
  font-size: 16px;
}

.living__service {
  margin-top: 53px;
}

.living-service__title {
  margin-bottom: 28px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.living-list {
  max-width: 600px;
  list-style: disk;
  color: #ffd200;
  padding-left: 18px;
}

.living-list__text {
  color: #333333;
  font-size: 14px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.living-list__item {
  margin-bottom: 5px;
}

/*Стили для модального окна*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.modal__column {
  text-align: center;
  padding: 80px 105px;
}

.modal__title {
  margin-bottom: 45px;
  font-size: 22px;
  line-height: 33px;
}

.modal__subtitle {
  margin-bottom: 53px;
  font-size: 16px;
}

.modal__input {
  width: 100%;
  min-height: 65px;
}

.modal-form__input {
  min-height: 80px;
}

.modal-form__input:last-of-type {
  min-height: 95px;
}

.modal-form__link {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 24px;
}

.modal__button {
  display: block;
  margin-bottom: 33px;
  width: 100%;
  height: 70px;
}

.form__direction {
  display: block;
  margin: auto;
  margin-bottom: 13px;
  max-width: 271px;
  font-size: 15px;
  line-height: 20px;
}

/** dekstop and mobile **/
@media (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text__title {
    max-width: 480px;
  }
  .hero__img {
    margin-top: 38px;
  }
  .offer {
    background-size: cover;
  }
  .offer-block {
    padding-right: 70px;
  }
  .offer__input {
    width: 100%;
  }
  .offer-form__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-form__error {
    width: 100%;
    min-height: 80px;
  }
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step::after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-card {
    margin-bottom: 40px;
  }
  .service-card:last-child {
    margin-bottom: 0;
  }
  .service-cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .brif__form {
    padding-left: 120px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
  }
  .form__title {
    font-size: 20px;
  }
  .contacts-block {
    padding-left: 120px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 750px;
  }
  .hero-img_shadow {
    width: 480px;
  }
  .offer-block {
    padding-right: 30px;
  }
  .offer__title {
    font-size: 23px;
  }
  .offer__subtitle {
    font-size: 15px;
  }
  .offer__button {
    font-size: 15px;
  }
  .offer-feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-feedback__text {
    margin-bottom: 18px;
  }
  .portfolio {
    padding-top: 77px;
    padding-bottom: 92px;
  }
  .portfolio__title {
    margin-bottom: 40px;
    font-size: 23px;
    line-height: 1.4;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
  .price__title {
    margin-bottom: 40px;
    font-size: 23px;
    line-height: 1.4;
  }
  .price__subtitle {
    font-size: 17px;
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .steps__title {
    margin-bottom: 40px;
    max-width: 550px;
    font-size: 23px;
    line-height: 1.4;
  }
  .steps__subtitle {
    font-size: 17px;
  }
  .info {
    padding: 72px 0;
  }
  .info__title {
    font-size: 23px;
  }
  .service-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brif__form {
    padding-left: 80px;
  }
  .brif__button {
    font-size: 14px;
  }
  .interview__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3;
  }
  .interview__subtitle {
    margin-bottom: 40px;
    font-size: 14px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 210px;
  }
  .form__title {
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 1.3;
  }
  .form__subtitle {
    margin-bottom: 40px;
    font-size: 14px;
  }
  .form__direction {
    font-size: 14px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts-block {
    width: 100%;
    padding-left: 0;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .map {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 77%;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    padding: 15px 26px;
    font-size: 10px;
  }
  .navbar__logo {
    width: 91px;
  }
  .hero {
    padding: 32px 0 52px;
  }
  .hero-text__title {
    margin-bottom: 8px;
    max-width: 275px;
    font-size: 24px;
    line-height: 1.2;
  }
  .hero-text__subtitle {
    margin-top: 0;
    margin-bottom: 28px;
    max-width: 200px;
    font-size: 16px;
    line-height: 1.2;
  }
  .hero-list__items {
    margin-bottom: 21px;
  }
  .hero-list__text {
    max-width: 200px;
    font-size: 12px;
    line-height: 1.4;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .offer {
    padding-top: 48px;
    padding-bottom: 53px;
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    margin-bottom: 15px;
    width: 260px;
    font-size: 18px;
    line-height: 1.3;
  }
  .offer__subtitle {
    margin-bottom: 27px;
    font-size: 14px;
  }
  .offer__button {
    margin-bottom: 20px;
    font-size: 14px;
    padding: 27px 0px;
  }
  .offer-feedback__text {
    margin-bottom: 9px;
  }
  .offer-form__error {
    min-height: 75px;
  }
  .portfolio {
    padding-top: 38px;
    padding-bottom: 30px;
  }
  .portfolio__title {
    font-size: 18px;
    margin-bottom: 41px;
    line-height: 1.3;
  }
  .price {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .price__title {
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 1.3;
  }
  .price__subtitle {
    font-size: 14px;
  }
  .card {
    margin-bottom: 33px;
  }
  .card__text {
    padding: 28px 0;
  }
  .card__title {
    margin-bottom: 12px;
    font-size: 14px;
  }
  .step {
    margin-bottom: 26px;
  }
  .step__image {
    margin-bottom: 32px;
  }
  .step__text {
    font-size: 12px;
    line-height: 16px;
  }
  .steps {
    padding-top: 18px;
    padding-bottom: 34px;
  }
  .steps__title {
    margin-bottom: 22px;
    max-width: 450px;
    font-size: 18px;
    line-height: 1.3;
  }
  .steps__subtitle {
    margin-bottom: 34px;
    font-size: 14px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__title {
    font-size: 18px;
    line-height: 1.3;
  }
  .service {
    padding-top: 60px;
    padding-bottom: 36px;
  }
  .service-card {
    margin-bottom: 30px;
    width: 270px;
  }
  .service-card__text {
    margin-bottom: 35px;
    padding-left: 16px;
  }
  .service-card__img {
    height: 195px;
  }
  .service-card__text {
    font-size: 12px;
    line-height: 17px;
  }
  .brif {
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: center top, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
    padding-top: 43px;
    padding-bottom: 30px;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 100px;
    padding-left: 0;
  }
  .brif__button {
    margin: auto;
    margin-bottom: 26px;
  }
  .brif-form__input {
    min-height: 75px;
  }
  .brif-form__input:last-of-type {
    min-height: 75px;
  }
  .interview {
    padding-right: 0;
  }
  .interview__title {
    max-width: 80%;
    margin-bottom: 10px;
  }
  .interview__subtitle {
    max-width: 65%;
  }
  .interview-list__counter {
    margin-right: 8px;
  }
  .interview-list__text {
    max-width: 75%;
  }
  .interview-list__item:nth-child(3) {
    margin-bottom: 21px;
  }
  .form__title {
    margin-bottom: 26px;
  }
  .form__subtitle {
    margin-bottom: 34px;
  }
  .form__direction {
    max-width: 135px;
    line-height: 24px;
    font-size: 14px;
  }
  .contacts-block {
    padding-top: 45px;
  }
  .contacts__title {
    margin-bottom: 26px;
    max-width: 262px;
    font-size: 18px;
    line-height: 1.3;
  }
  .contacts-list__icon {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .offer__button {
    padding: 19px 60px;
  }
  .portfolio {
    padding-bottom: 56px;
  }
  .slider__image {
    width: 246px;
    height: 186px;
  }
}
/*# sourceMappingURL=style.css.map */